services:
  velocity:
    image: ${MC_IMAGE_PROXY}
    container_name: velocity
    restart: unless-stopped
    environment:
      TYPE: VELOCITY
      MEMORY: ${MC_RAM_PROXY}
      REPLACE_ENV_VARIABLES: "false"
      REPLACE_ENV_IN_PLACE: "false"
      REPLACE_ENV_DURING_SYNC: "false"
    volumes:
      - ${APPDATA_PATH}/mc-network/velocity/data:/server
      - ${APPDATA_PATH}/mc-network/velocity/plugins:/server/plugins
    networks: [mc_net]
    ports:
      - "25565:25565"

  hub:
    image: ${MC_IMAGE_JAVA}
    container_name: mc-hub
    restart: unless-stopped
    environment:
      EULA: "TRUE"
      TYPE: PAPER
      MEMORY: ${MC_RAM_HUB}
      ONLINE_MODE: "FALSE"
      REPLACE_ENV_VARIABLES: "true"      # enable templating so the placeholder gets filled
      ENV_VARIABLE_PREFIX: "FORWARDING_"
      FORWARDING_SECRET: "dNgT6MKf7D3F2V40HnRL9sqWX/5rEQl3oea0gMg1+Pg="
    volumes:
      - ${APPDATA_PATH}/mc-network/hub/data:/data
    networks: [mc_net]

  vanilla:
    image: ${MC_IMAGE_JAVA}
    container_name: mc-vanilla
    restart: unless-stopped
    environment:
      EULA: "TRUE"
      TYPE: PAPER
      MEMORY: ${MC_RAM_VANILLA}
      ONLINE_MODE: "FALSE"
      REPLACE_ENV_VARIABLES: "true"      # enable templating so the placeholder gets filled
      ENV_VARIABLE_PREFIX: "FORWARDING_"
      FORWARDING_SECRET: "dNgT6MKf7D3F2V40HnRL9sqWX/5rEQl3oea0gMg1+Pg="
    volumes:
      - ${APPDATA_PATH}/mc-network/vanilla/data:/data
    networks: [mc_net]

  ftb:
    image: ${MC_IMAGE_JAVA}
    container_name: mc-ftb-dw20
    restart: unless-stopped
    environment:
      EULA: "TRUE"
      TYPE: FTBA
      FTB_MODPACK_ID: "126"
      MEMORY: ${MC_RAM_FTB}
      ONLINE_MODE: "FALSE"
      REPLACE_ENV_VARIABLES: "true"      # enable templating so the placeholder gets filled
      ENV_VARIABLE_PREFIX: "FORWARDING_"
      FORWARDING_SECRET: "dNgT6MKf7D3F2V40HnRL9sqWX/5rEQl3oea0gMg1+Pg="
    volumes:
      - ${APPDATA_PATH}/mc-network/ftb/dw20:/data
    networks: [mc_net]

networks:
  mc_net:
    external: true