
services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.1
    container_name: Unraid-Cloudflared-Tunnel
    restart: unless-stopped
    environment:
    - TZ=${TZ}
    - HOST_OS=Unraid
    - HOST_HOSTNAME=JP-Dell
    - HOST_CONTAINERNAME=Unraid-Cloudflared-Tunnel
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    volumes:
    - ${APPDATA_PATH}/cloudflared:/etc/cloudflared
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
        reservations:
          cpus: '0.1'
          memory: 64M
    labels:
    - kuma.cloudflared.type=docker
    - kuma.cloudflared.docker_container=Unraid-Cloudflared-Tunnel
    - kuma.cloudflared.docker_host=unix:///var/run/docker.sock
    - kuma.cloudflared.name=Cloudflared Tunnel
    - kuma.cloudflared.interval=60
    - kuma.cloudflared.tags=networking,tunnel
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/cloudflared-icon.png
    networks:
    - public_net
networks:
  public_net:
    external: true
