
services:
  zigbee2mqtt:
    image: koenkk/zigbee2mqtt:2.7.2
    container_name: zigbee2mqtt
    restart: unless-stopped
    environment:
    - TZ=${TZ}
    - HOST_OS=Unraid
    - HOST_HOSTNAME=JP-Dell
    - HOST_CONTAINERNAME=zigbee2mqtt
    volumes:
    - ${HOME_ASSISTANT_PATH}/zigbee2mqtt:/app/data
    - /run/udev:/run/udev:ro
    ports:
    - 9442:8080
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.15'
          memory: 256M
    labels:
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/zigbee2mqtt-icon.png
    - net.unraid.docker.webui=http://[IP]:[PORT:9442]
    networks:
    - iot_net
    privileged: true
networks:
  iot_net:
    external: true
