
services:
  redis:
    image: redis:8.4.0-alpine
    container_name: Redis
    restart: unless-stopped
    environment:
    - TZ=America/New_York
    - HOST_OS=Unraid
    - HOST_HOSTNAME=JP-Dell
    - HOST_CONTAINERNAME=Redis
    volumes:
    - redis_data:/data
    ports:
    - 6379:6379
    networks:
    - db_net
    healthcheck:
      test:
      - CMD-SHELL
      - redis-cli ping || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 256M
    command: redis-server --appendonly yes --auto-aof-rewrite-percentage 100 --auto-aof-rewrite-min-size
      64mb
    labels:
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/redis-icon.png
volumes:
  redis_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CACHE_PATH}/redis
networks:
  db_net:
    external: true
