version: '3.8'
services:
  nextcloud:
    image: nextcloud:32.0.1
    container_name: Nextcloud
    restart: unless-stopped
    environment:
    - TZ=${TZ}
    - HOST_OS=Unraid
    - HOST_HOSTNAME=JP-Dell
    - HOST_CONTAINERNAME=Nextcloud
    - POSTGRES_HOST=nextcloud-postgres
    - POSTGRES_DB=${NEXTCLOUD_DB_NAME}
    - POSTGRES_USER=${NEXTCLOUD_DB_USER}
    - POSTGRES_PASSWORD=${NEXTCLOUD_DB_PASSWORD}
    - NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.azuleluna.xyz
    - OVERWRITEPROTOCOL=https
    - OVERWRITEHOST=nextcloud.azuleluna.xyz
    - PUID=33
    - PGID=33
    user: '33:33'
    volumes:
    - ${APPDATA_PATH}/nextcloud/html:/var/www/html
    - ${APPDATA_PATH}/nextcloud/apps:/var/www/html/custom_apps
    - ${APPDATA_PATH}/nextcloud/config:/var/www/html/config
    - ${APPDATA_PATH}/nextcloud/data:/var/www/html/data
    ports:
    - 8666:80
    labels:
    - kuma.nextcloud.type=http
    - kuma.nextcloud.url=http://Nextcloud:80/status.php
    - kuma.nextcloud.name=Nextcloud
    - kuma.nextcloud.interval=60
    - kuma.nextcloud.keyword=installed
    - kuma.nextcloud.tags=productivity,cloud
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/nextcloud-icon.png
    - net.unraid.docker.webui=http://[IP]:[PORT:8666]
    networks:
    - internal_net
    - db_net
    depends_on:
    - nextcloud-postgres
  nextcloud-postgres:
    image: postgres:18.1
    container_name: Nextcloud-PostGres
    restart: unless-stopped
    environment:
    - TZ=${TZ}
    - HOST_OS=Unraid
    - HOST_HOSTNAME=JP-Dell
    - HOST_CONTAINERNAME=Nextcloud-PostGres
    - POSTGRES_DB=${NEXTCLOUD_DB_NAME}
    - POSTGRES_USER=${NEXTCLOUD_DB_USER}
    - POSTGRES_PASSWORD=${NEXTCLOUD_DB_PASSWORD}
    - PGDATA=/var/lib/postgresql/18/main
    volumes:
    - nextcloud_pgdata:/var/lib/postgresql
    ports:
    - 5432:5432
    labels:
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/postgresql-icon.png
    networks:
    - db_net
volumes:
  nextcloud_pgdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CACHE_PATH}/nextcloud/pg18
networks:
  internal_net:
    external: true
  db_net:
    external: true
