services:
  jenkins:
    image: jenkins/jenkins:2.426.1-lts
    container_name: jenkins
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JENKINS_OPTS=--httpPort=8080
    # Allow Jenkins to manage Docker for ephemeral agents
    user: root

volumes:
  jenkins_home:
    driver: local
