services:
  kopia-backblaze:
    image: kopia/kopia:20251120.0.54628
    container_name: kopia-backblaze
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      KOPIA_PASSWORD: ${KOPIA_B2_PASSWORD}
    volumes:
    - ${APPDATA_PATH}/kopia/backblaze/config:/app/config
    - ${APPDATA_PATH}/kopia/backblaze/cache:/app/cache
    - ${APPDATA_PATH}/kopia/backblaze/logs:/app/logs
    - ${APPDATA_PATH}/kopia/backblaze/repository:/repository
    - ${APPDATA_PATH}/kopia/backblaze/cert:/app/cert
    - ${APPDATA_PATH}/kopia/scripts:/app/scripts:ro
    - /mnt:/mnt:ro
    - /mnt/user:/data/user:ro
    - /mnt/user/backups:/data/backups
    - /usr/sbin/zfs:/usr/sbin/zfs:ro
    - /usr/sbin/zpool:/usr/sbin/zpool:ro
    - /sbin/mount:/sbin/mount:ro
    - /sbin/umount:/sbin/umount:ro
    devices:
    - /dev/zfs:/dev/zfs
    cap_add:
    - SYS_ADMIN
    ports:
    - 51515:51515
    command: "server start\n  --address=0.0.0.0:51515\n  --tls-generate-cert\n  --tls-cert-file\
      \ /app/cert/my.cert\n  --tls-key-file /app/cert/my.key\n  --insecure\n  --disable-csrf-token-checks\n\
      \  --random-password\n"
    user: 0:0
    labels:
    - kuma.kopia-backblaze.type=http
    - kuma.kopia-backblaze.url=http://kopia-backblaze:51515
    - kuma.kopia-backblaze.name=Kopia Backup (Backblaze)
    - kuma.kopia-backblaze.interval=60
    - kuma.kopia-backblaze.keyword=Kopia
    - kuma.kopia-backblaze.tags=utilities,backup,backblaze
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/kopia-icon.png
    - net.unraid.docker.webui=http://[IP]:[PORT:51515]
    networks:
    - internal_net
  kopia-local:
    image: kopia/kopia:20251120.0.54628
    container_name: kopia-truenas
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      KOPIA_PASSWORD: ${KOPIA_TNAS_PASSWORD}
    volumes:
    - ${APPDATA_PATH}/kopia/truenas/config:/app/config
    - ${APPDATA_PATH}/kopia/truenas/cache:/app/cache
    - ${APPDATA_PATH}/kopia/truenas/logs:/app/logs
    - ${APPDATA_PATH}/kopia/truenas/repository:/repository
    - ${APPDATA_PATH}/kopia/truenas/cert:/app/cert
    - ${APPDATA_PATH}/kopia/scripts:/app/scripts:ro
    - /mnt:/mnt:ro
    - /mnt/user:/data/user:ro
    - /mnt/user/backups:/data/backups
    - /usr/sbin/zfs:/usr/sbin/zfs:ro
    - /usr/sbin/zpool:/usr/sbin/zpool:ro
    - /sbin/mount:/sbin/mount:ro
    - /sbin/umount:/sbin/umount:ro
    devices:
    - /dev/zfs:/dev/zfs
    cap_add:
    - SYS_ADMIN
    ports:
    - 51516:51515
    command: "server start\n  --address=0.0.0.0:51515\n  --tls-generate-cert\n  --tls-cert-file\
      \ /app/cert/my.cert\n  --tls-key-file /app/cert/my.key\n  --insecure\n  --disable-csrf-token-checks\n\
      \  --random-password\n"
    user: 0:0
    labels:
    - kuma.kopia-truenas.type=http
    - kuma.kopia-truenas.url=http://kopia-truenas:51515
    - kuma.kopia-truenas.name=Kopia Backup (Local)
    - kuma.kopia-truenas.interval=60
    - kuma.kopia-truenas.keyword=Kopia
    - kuma.kopia-truenas.tags=utilities,backup,truenas
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/kopia-icon.png
    - net.unraid.docker.webui=http://[IP]:[PORT:51516]
    networks:
    - internal_net
networks:
  internal_net:
    external: true
